@define-color background-color #11111b;
@define-color border-color     #cba6f7;
@define-color label            #cdd6f4;
@define-color image            #cdd6f4;
@define-color progress         #cba6f7;

window#osd {
  border-radius: 20px;
}

window#osd progressbar,
window#osd trough,
window#osd progress,
window#osd segment,
window#osd segmentedprogress {
  border-radius: 999px;
}

window#osd label {
  border-radius: 10px;
}